h3 {
    margin: 0;
    font-weight: 500;
}

main {
    width: 60%;
    margin: auto;
}

.cart-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin:30px 0;
}

.cart-item {
    background-color: var(--mid-background);
    padding: 20px 30px;;
    border-radius: 14px;

    display: grid;
    grid-template:
        "img name price" 
        "img quantity delete";
    align-items: center;
}

.product-image {
    grid-area: img;
    height: 100px;
}

.cover-name-link {
    grid-area: name;
}

.price {
    grid-area: price;
}

.delete-item {
    grid-area: delete;
}

.quantity-controls {
    grid-area: quantity;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 20px;
    width: 80px;
    background-color: var(--light-contrast);
    padding: 5px 10px;
    border: 2px solid var(--dark-contrast);
    border-radius: 8px;
}

.quantity-controls button {
    background-color: transparent;
    border: none;
}

.cart-summary {
    margin: 40px 0 20px 0;
    display: flex;
}

@media only screen and (max-width: 600px) {
    main {
    width: 80%;
    margin: auto;
    }

    .product-image {
    height: 70px;
}
}
