:root {
    --light-background: #FFF6E5;
    --mid-background: #e5d5b5;
    --dark-contrast: black;
    --light-contrast: white;
    --text-color: black;
    --emphasis-color: #0CC0DE;
}

* {
    background-color: var(--light-background);
}

a {
    color: var(--text-color);
}