a {
    text-decoration: none;
}

body {
    margin: 0;
}

.head-navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #e7e7e7;
}

.nav-links, .dropdown li {
    list-style: none;
    padding: 0.5rem 1rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffbed;
    border-radius: 1rem;
}

.nav-link:hover .dropdown {
    background-color: black;
    display: block;
}

.dropdown {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: wheat;
    display: none;
}
