:root {
    --light-background: #FFF6E5;
    --mid-background: #e5d5b5;
    --dark-contrast: black;
    --light-contrast: white;
    --text-color: black;
    --emphasis-color: #0CC0DE;

}

header {
  background-color: var(--light-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-icon {
    display: none;
  }

header a:hover, footer a:hover {
  text-decoration: none;
}

.head-checkbox {
  cursor: pointer;
}


.head-nav-links {
  display: inline-block;
  /* justify-content: space-between;
  align-items: center; */
  background-color: var(--mid-background);
  border-radius: 1rem;
}

.head-nav-links,
.head-dropdown,
.head-icon-links,
.foot-nav-links li {
  list-style: none;
  padding: 0 1rem;
}

.head-nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.head-nav-link + .head-nav-link {
    padding-left: 0.5rem;
}

.head-checkbox, .home a{
    white-space: nowrap;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}

.head-dropdown {
  background-color: var(--light-contrast);
  padding: 1rem;
  border-radius: 0.8rem;
}

.head-dropdown a {
  padding: 0.2rem 0;
}

#shop-dropdown-active,
#abt-dropdown-active {
  display: none;
}

.head-dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
  position: absolute;

  transition: opacity 0.2s;
}

#shop-dropdown-active:checked ~ .head-dropdown,
#abt-dropdown-active:checked ~ .head-dropdown {
  opacity: 1;
  max-height: max-content;
}


@media only screen and (max-width: 768px) {
  .head-dropdown {
    max-width: 100%;

  }

}

.foot-links {
  list-style: none;
  padding-left: 0;
}

@media only screen and (min-width: 768px) {
  .foot-nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .foot-nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}
