.head-navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.head-nav-links, .head-dropdown, .head-icon-links, .foot-nav-links li {
    list-style: none;
    padding: 0 1rem;
}

.head-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5D5B5;
    border-radius: 1rem;
}

.head-nav-link {
    padding: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head-button {
    background-color: #e5d5b5;
    border: none;
    font-size: 16px;
}

.head-nav-link + .head-nav-link {
    padding-left: 2rem;
}

.head-icon-links {
    display: flex;
}

@media only screen and (min-width: 768px) {
  .head-nav-link:hover .head-dropdown, .head-dropdown:hover .head-dropdown {
    background-color: rgb(255, 255, 255);
    display: block;
    }

    .head-dropdown {
        position: absolute;
        padding: 0.5rem 0;
        margin: 0.5rem -0.5rem;
        background: wheat;
        display: none;
    }
}

.foot-links {
    list-style: none;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
  .foot-nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
}

@media only screen and (max-width: 600px) {
    .foot-nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        }
}