:root {
    --light-background: #FFF6E5;
    --mid-background: #e5d5b5;
    --dark-contrast: black;
    --light-contrast: white;
    --text-color: black;
    --emphasis-color: #0CC0DE;

    --body-text: 14px;

}

@font-face {
    font-family: "Albert Sans";
    src: url(fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Albert Sans Italic";
    src: url(fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Josefin Sans";
    src: url(fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--light-background);
    font-family: "Albert Sans", Tahoma, Verdana, sans-serif;
}

h1 {
    font-family: "Albert Sans";
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-family: "Josefin Sans";
    font-weight: 500;

}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 0 50px;
}

@media only screen and (max-width: 768px) {
    main {
    padding: 30px;
}
}