.head-checkbox.shop {
    color: white;
    background-color: black;
}

.shop img.paw-icon {
    width: auto;
}

h2 {
    font-size: 20px;
    margin: 16px 0 5px;
}

.browse-tools {
    display: flex;
    justify-content: space-between;
    margin: 4% 0;
    font-family: "Albert Sans Italic";
    text-decoration: underline;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 46px;
    column-gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
}

.product-card a {
    display: block;
    width: 100%;
}

.product-card img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.add-to-cart {
    margin-top: 12px;
    padding: 8px;
    background-color: var(--light-contrast);

    font-family: "Albert Sans"
    border: 2px solid var(--dark-contrast);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 16px;
        margin: 14px 0 5px;
    }

    .product-list {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 10px;
    }

    .product-card img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
    }
}