.head-checkbox.shop {
    color: white;
    background-color: black;
}

.shop img.paw-icon {
    width: auto;
}

h2 {
    margin-top: 1rem;
}

.disabled-link:hover {
    text-decoration: none;
}

.product-card {
    display: grid;
    grid-template: 
        "img info";
    row-gap: 30px;
    column-gap: 50px;
}

.cover-img-link {
    justify-self: end;
}

.product-labels {
    padding-right: 20%;
}

.product-card img {
    width: 300px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.add-to-cart {
    margin-top: 20px;
    padding: 8px;
    background-color: var(--light-contrast);
    width: 100%;

    font-family: "Albert Sans";
    border: 2px solid var(--dark-contrast);
    border-radius: 6px;
}

@media only screen and (max-width: 600px) {
    .product-card {
        display: grid;
        grid-template: 
            "img"
            "info";
        row-gap: 20px;
    }
    
    .product-card img {
        width: 100%;
    }

    .product-labels {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
